body {
    background-color: aquamarine;
}

div.Buttons {
    background-color:rgb(8, 250, 169);
    padding:5px;
    margin-bottom: 20px;
    

}

button {
    border-radius: 10px;
    font-family: cursive;
}

button:hover {
    background-color: aqua;
}

.Title {
    background-color: rgb(1, 255, 170);
    padding:4px;
    text-align: center;
    border: 2px dashed rgb(251, 255, 0);
}

